@import '../../App.scss';

.login {
    @include flex(row, space-between, center);
    padding: 0 50px;
    position: relative; // Add this to create a positioning context

    .logo {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 10;
    }

    .left {
        @include flex(column, center, center);
        width: 50%;
        height: 100vh;
    }

    .right {
        @include flex(column, center, center);
        width: 50%;
        height: 100vh;
        padding: 0 90px;

        h1 {
            color: #213F7D;
            align-self: flex-start;
            margin-bottom: 0.8rem;
        }

        p {
            color: #545F7D;
            align-self: flex-start;
            margin-bottom: 3rem;
        }

        h2 {
            font-size: 1rem;
            margin-bottom: 20px;
            color: #39CDCC;
            align-self: flex-start;
        }
    }
}

@media (max-width: 768px) {
    .login {
        flex-direction: column;
        justify-content: baseline;
        padding: 0 20px;
        height: 100vh;

        .logo {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .left {
            width: 100%;
            height: fit-content;
            padding: 20px 10px;
            padding-top: 80px; // Add space for the logo

            .img {
                display: none;
            }
        }

        .right {
            width: 100%;
            padding: 0 10px;
            margin-bottom: 70%;
        }
    }
}